<div *ngIf="isLogin">
    <admin-header></admin-header>

    <div class="page admin-layout">
        <div class="container">
            <div class="row">
                <div class="col-md-3 left-side">
                    <div class="menu-item title-md" (click)="toPage('admin/users')">{{'USER_MANAGE'|translate}}</div>
                    <div class="menu-item title-md" (click)="toPage('admin/wechatgroups')">{{'PRODUCT_MANAGE'|translate}}</div>
                    <div class="menu-item title-md" (click)="toPage('admin/wechat')">{{'PROFILE_MANAGE'|translate}}</div>
                    <div class="menu-item title-md" (click)="toPage('admin/image-default-title')">{{'ADMIN_IMAGE_DEFAULT_TITLE'|translate}}</div>
                </div>
                <div class="col-md-9 right-side">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>

    <admin-footer></admin-footer>
</div>