<div class="container admin-user-list">
    <div class="list-head">
        <div *ngFor="let field of fields">{{field}}</div>
    </div>
    <div class="list-body">
        <div class="row" *ngFor="let r of userList" (click)="toDetail(r)">
            <div class="col-md-3">{{r.username}}</div>
            <div class="col-md-4">{{r.email}}</div>
            <div class="col-md-5 pull-right btn-area">
                <div class="btn" (click)="add()">{{'ADD'|translate}}</div>
                <div class="btn" (click)="change(r)">{{'CHANGE'|translate}}</div>
                <div class="btn" (click)="delete(r)">{{'DELETE'|translate}}</div>
            </div>
        </div>
    </div>
</div>